@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');


:root{
    --card-background: #f3f2f2;
    --gray:#A1A1A1;
    --gray-light: #f9f9f9;
    --gray-dark:#686868;
    --white:#ffffff;
    --blue: #A3AEC2;
    --black: rgb(58, 58, 58);
    --taupe: #4A4238;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::placeholder{
    color: var(--gray);
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 0.3rem;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--gray-dark); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark); 
}




body header{
    width: 100%;
    
} 

body header .notifications{
    background-color: var(--blue);
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body header .notifications p{
    color: var(--white);
    padding: 2%;
    font-weight: 300;
    font-size: 0.8rem;
}


body header .notifications  a{
    width: 12%;
    display: flex;
}

body header .notifications  a img{
    width: 90%;
    padding: 5%;
}

body header .page-name{
    padding: 5%;
    text-align: center;
}

body header .page-name p{
    font-size: 1.2rem;
}

body .content{
    width: 100%;
    background-color: var(--gray-light);
}

body .content figure{
    width: 0%;
}

body .content figure img{
    width: 0%;   
}

body .content section {
    width: 100%;
   
}

body .content section .title{
    padding: 0 0 3% 0;
    text-align: center;
}

body .content section .title h1{
    font-size: 1.8rem;
}

body .content section .title h2{
    font-weight: 300;
    font-size: 1rem;
}


body .content section .img-smallview {
    width: 100%;
}

body .content section .img-smallview img{
    width: 100%;
}

body .content section .text{
    text-align: center;
    padding: 5%;
}

body .content section .text p{
    font-weight: 300;
    font-size: 1rem;
}

body .content section form{
    padding: 10%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 0.8rem;
}

body .content section form label{
    padding: 1% 0;
    color: var(--blue);
}

body .content section form input{
    margin: 1% 0 3% 0;
    background: transparent;
    padding: 2%;
    border: none;
    border-bottom: solid var(--taupe) 1px;
    outline: none;
    
}

body .content section form button{
    font-size: 1rem;
    margin: 5% 0;
    padding: 3%;
    border-radius: 0.8rem;
    box-shadow: 0 2px 4px var(--gray);
    font-weight: 500;
    background: var(--blue);
    color: var(--white);
    border: none;
    cursor: pointer;

}

body footer{
    background-color: var(--taupe);
    padding: 2%;
}

body footer p{
    font-size: 0.8rem;
    color: var(--white);
    text-align: center;
}
